<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.compare.mapper.BenchMarkingMapper" >

    <insert id="saveInfo" >
        insert  into benchmarking values(null,#{compnayName},#{salesAamount},#{year},#{business},#{priority},#{disadvantage},#{status},#{emp_count},#{createTime},#{simpleDesc})
    </insert>
    <select id="getAmountList" resultType="com.wf.compare.bean.BenchMarking">
        SELECT id,company_name compnayName,sales_amount salesAamount
        FROM benchmarking
        WHERE YEAR=#{year}
    </select>
</mapper>